    <mat-card style="width: 100%">
        <div style="display: flex; justify-content: center; align-items: center; align-content: center; width: 100%; min-height: 75px; flex-direction: row;">
            <img style="width:75px; max-width: 75px;"  src="{{data.logo}}">
        </div>
        <mat-card-header>
        </mat-card-header>
        <mat-card-content style="font-size: 1.2em; line-height: 2em;">
            <div>Temperature: H15&deg;F / L2&deg;F</div>
            
            <div>Summit {{data.peakTemp}}&deg;F&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Base 25&deg;F</div>
            <div>Trails Open: 3/10</div>
            <div>Snow in Last 24hrs: 1"</div>
            <div>Snow in Next 24hrs: 0.01"</div>
            <div>Wind: 5MPH</div>
        </mat-card-content>
    </mat-card>
