<mat-card class="resort-card">
    <div class="logo-container">
        <img class="resort-logo" [src]="data.logo" alt="{{data.name}} logo">
    </div>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content class="resort-content">
        <div>Temperature: H{{data.high}}&deg;F / L{{data.low}}&deg;F</div>
        <div>Current: {{data.currentTemp}}&deg;F</div>
        <div>@if (data.flags.showFeelsLike) {Feels Like: {{data.feelsLike}}&deg;F}</div>
        @if (data.flags.showWind) {
        <div>Wind: {{data.windspeed}}MPH</div>
        }
        <div>Trails: {{data.openTrails}} of {{data.totalTrails}}</div>
        <div>Lifts: {{data.openLifts}} of {{data.totalLifts}}</div>
        <div><mat-icon aria-hidden="false" aria-label="snowing" fontIcon="snowing"></mat-icon> Next 24 hrs: {{data.nextTwentyFour}}"</div>
    </mat-card-content>
</mat-card>
